.Banner {
  position: relative;
  /* width: 100%; */
  margin-left: 2%;
  border-radius: 1.25rem;


}

.Banner {
  position: relative;
  margin-top: 5%;
  width: 80%;
  height: auto;
}

.Banner img {
  /* margin: auto;
  width: 100%;
  object-fit: cover; */
  margin-top: 5%;
    /* margin-bottom: 2%; */
    border-radius: 1.25rem;
    object-fit: cover;
    width: 100%;
    height: 60vh;
    margin-left: auto;
}

.Banner div {
  height: 100%;
}

.Banner svg {
  border-radius: 1.25rem;
  background-color: #BCBABA;
}