.Banner {
  position: relative;
  /* width: 100%; */
  margin-left: 2%;
  border-radius: 1.25rem;


}

.Banner {
  position: relative;
  margin-top: 5%;
  width: 80%;
  height: auto;
}

.Banner img {
  margin: auto;
  width: 100%;
  object-fit: cover;
}

.Banner div {
  height: 100%;
}

.Banner svg {
  background-color: #BCBABA;
}