.Banner {
    position: relative;
    width: 100%;
    
   
  }
  
  .Banner {
    position: relative;

    width: 90%;
    height: auto;
  }
  .Banner img{
    height: auto;
    width: 40vw;
    object-fit: contain;
  }