.sticky-navigation {
    position: fixed;
    top: 0;
    right: 0;
    margin-left: auto; /* Push the navigation to the right */
  }
  
  .nav-links {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0; /* Remove default padding */
    display: flex; /* Display the list items horizontally */
    gap: 15px; /* Add some spacing between the links */
    flex-direction: column;
  }
  
  .nav-links li {
    margin: 0; /* Remove default margins */
  }
  
  .nav-links li a {
    text-decoration: none; /* Remove underline from the links */
    color: #ffffff; /* Set link color */
    padding: 10px 15px; /* Add padding around the links */
    border-radius: 5px; /* Add rounded corners to the links */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .nav-links li a:hover {
    background-color: #f0f0f0; /* Change background color on hover */
  }
  

  @media (max-width: 770px) {
    .nav-links {
      display: none;
    }
  
    .nav-links.active {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 100%; /* Position the menu below the navbar */
      left: 0;
      width: 100%;
      background-color: #333; /* Background color for the menu */
      z-index: 1; /* Ensure the menu is above other elements */
    }
  
    .nav-links.active li {
      text-align: center; /* Center the menu items */
      margin: 10px 0; /* Add some spacing between the menu items */
    }
  
    .nav-links.active li a {
      color: #fff; /* Set link color */
      padding: 10px 15px; /* Add padding around the links */
    }
  
    /* Burger Menu */
    .burger-menu {
      display: block;
      cursor: pointer;
    }
  
    .burger-line {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 4px 0;
      transition: 0.4s;
    }
  
    .burger-line.active {
      background-color: rgb(0, 0, 0);
    }
  }