/* PackageCard.css */

.package-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 2%;
    width: 80%;
  }
  
  .package-card {
    display: flex;
    color: #000000;
    width: 30%;
    /* flex: 1; */
    min-width: 300px;
    /* margin-right: 20px; */
    margin-bottom: 20px;
    padding: 20px 30px 40px 20px;
    /* border: 1px solid #000000; */
    background-color: #BCBABA;
    border-radius: 1.25rem;
    box-sizing: border-box;
    flex-direction: column;
    align-content: space-between;

  }
  
  .package-title {
    font-size: 24px;
  }
  
  .package-divider {
    margin: 10px 0;
    border: 1px solid rgb(0, 0, 0);
}
  
  .package-price {
    font-size: 20px;
    font-weight: bold;
  }
  
  .package-monthly {
    font-size: 14px;
    color: #000000;
  }
  
  .package-list {
    margin-top: 20px;
    padding-left: 20px;
  }
  
  .package-point {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .package-holder {
      flex-direction: column;
      align-items: center;
    }
  
    .package-card {
      margin-bottom: 20px;
    }
  }
  