    /* PictureWithText.css */
.picture-with-text {
  display: flex;
  width: calc(26.66% - 20px);
  margin: 10px;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  }
  
  .picture-with-text img {
    border-radius: 1.25rem;

    width: 100%;
    height: auto;
    /* Add other styles as needed */
  }
  .pictures-container{
    display: flex;
    width: 80%;
    justify-content: space-between;
  }