/* TextWithButton.css */
.text-with-button {
  margin-top: 5%;
  margin-left: 2%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /* Add other styles as needed */
  }
  
  .text-container {
    flex: 1;
    /* Add other styles as needed */
  }
  .text-container h2{
    font-size: 3rem;
    font-weight: 400;


  }
  
 