/* TextWithButton.css */
.text-with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /* Add other styles as needed */
  }
  
  .text-container {
    flex: 1;
    /* Add other styles as needed */
  }
  
  .button-container button{
    border-radius: 1.875rem;
    background-color: rgb(0, 0, 0); /* Blue color, you can change this */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Add other styles as needed */
  }
  .button-container button:hover{
    background-color: #969696; /* Darker blue on hover, you can change this */

  }
  