/* TitleWithTwoTextsAndButtons.css */

.title-with-two-texts-buttons {
    /* text-align: center; */
    margin-bottom: 20px;
    margin-left: 2%;
    margin-top: 5%;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.title-with-two-texts-buttons div {
    /* display: flex; */
    /* margin: 20px; */
    flex-wrap: wrap;
}

.right-images {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.right-images img {
    margin-top: 5%;
    /* margin-bottom: 2%; */
    border-radius: 1.25rem;
    object-fit: cover;
    width: 100%;
    height: 60vh;
}

.texts-container {
    height: 100%;
    width: 100%;
}

.texts-container p {
    /* MARGIN: 0rem 10rem 3rem 0; */
    color: #FFF;
    font-size: larger;
    /* font-style: normal; */
    /* font-weight: 400; */
    line-height: 1.9rem;
    letter-spacing: inherit;
    margin-top: 2rem;
    height: 100%;
}




.Container {
    width: 100%;
    height: 100%;
    display: flex;
}