.title-with-text {
    /* display: flex; */
    width: 80%;
    margin-left: 2%;
    height: auto;
}

.title-with-text .Banner {
    margin-left: 0;
    width: 100%;
}
.title-with-text .Banner img {
    height: 70vh;

}