*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    background-color: #484848;
    color: white;
    /* margin-left: 2%; */
}
body{
    margin: 0;
}